<!--Burger Image and Heading-->
<img class="mt-5 mx-auto d-block rounded" src="assets/img/chicken_burger.png">
<h1 class="mt-2 fancy-font text-center">Eat-Da-Burger!</h1>



<!--Burgers In the Database-->
<div id="burger-list-area">
    <div class="row mx-auto">
        <div class="col-md-5 mx-auto" id="not-eaten">
            <!--Un-Eaten Burgers In the Database-->
            {{#each burgers}}
            {{#unless devoured}}

            <div class="form-check">
                <input class="form-check-input checkbox" type="checkbox" id={{id}} value={{id}}>
                <label class="form-check-label d-block" for={{id}}>
                    <p class="bg-primary text-white p-3 rounded my-2 text-left">{{id}}.
                        {{burger_name}}</p>
                </label>
            </div>

            {{/unless}}
            {{/each}}
        </div>

        <div class="col-md-5 mx-auto" id="eaten">

            <!--Eaten Burgers In the Database-->
            {{#each burgers}}
                {{#if devoured}}
                    {{#if EaterId}}
                        <p class="bg-secondary text-white p-3 rounded my-2 text-left">{{id}}. {{Eater.name}} ate {{burger_name}} </p>
                    {{else}}
                        <p class="bg-secondary text-white p-3 rounded my-2 text-left">{{id}}. {{burger_name}}</p>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<!--Add a Burger To the Database-->
<div class="row">
    <div class="col-md-4 mx-auto">
        <form class="create-form">
            <p class="text-center mt-2">Enter a burger you want to eat. Click the "Submit" button.</p>
            <textarea class="form-control mt-2" id="burg" rows="3" placeholder="Burger Name"></textarea>
            <button type="submit" class="btn btn-primary mt-2 mx-auto d-block">Submit</button>
        </form>
    </div>
</div>

<!--Add a User To the Database-->
<div class="row">
    <div class="col-md-4 mx-auto">
        <form class="user-form">
            <p class="text-center mt-2">Select the burgers eaten. Enter the eater name. Click the "Submit" button.</p>
            <input class="form-control mt-2" type="text" id="usr" placeholder="Eater Name"></input>
            <button type="submit" class="btn btn-secondary mt-2 mx-auto d-block">Submit</button>
        </form>
    </div>
</div>